<!DOCTYPE html>
<!--
	Phantom by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	{% include head.html %}
	<body>
		<!-- Wrapper -->
			<div id="wrapper">

				{% include header.html %}

				<!-- Main -->
					<div id="main">
						<div class="inner">

              {{ content }}

						</div>
					</div>
<!--
				{% include footer.html %}
-->
			</div>

		{% include scripts.html %}

	</body>
</html>
